header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 40px;
}
#header-img {
    height: 100px;
    margin-top: 20px;
}
.video {
    padding-top: 200px ;
}
#nav-bar {
    display: flex;
}
@media (max-width: 600px) {
}
max-width: 15px;
