@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
:root {
    font-family: DotGothic16;
    --background-color: rgb(124, 245, 229);
    --accent-color: #e5b337;
    --main-color: rgb(240, 8, 8);
    --header-color: #FA8072;
}
* {
    box-sizing: border-box 
}
body {
    background-color: var(--background-color);
    padding: 0;
    margin: auto;
    font-size: 18px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    border-bottom: 5px solid var(--main-color);
    background-color: var(--header-color);
}
#header-img {
    width: 7vw;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a {
    text-decoration: none;
    padding: 1px 20px;
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: bold;
}
a:hover {
    background-color: var(--accent-color);
}
.banner {
    position: absolute;
    z-index: 1;
    top: 10vh;
    left: 0;
    right: 0;
}
h1 {
    font-size: 90px;
    display: flex;
    justify-content: center;
}
p {
    text-align: center;
    font-size: 30px;
}
.video {
    position: absolute;
    z-index: 1;
    top: 83vh;
    left: 20vw;
}
#video {
    width: 60vw;
    height: 60vh;
    border: 0;
    align-items: center;
}
h2{
    color: var(--accent-color);
}
form {
    position: absolute;
    top: 160vh;
    left: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30vw;
    padding: 50px;
    border: 2px solid var(--accent-color);
    border-radius: 3%;
}